<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div class="column is-10 is-offset-1 notification is-info is-light box container">
          <div class="title">Purchase</div>
          <% if (locals.purchase) { %>
          <div class="table-container">
            <table class="table is-bordered is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Cost</th>
                  <th>Quantity</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <% let total = 0; %>
              <% let i=0; %> <% for(i=0; i < purchase.length; i++) { %>
              <tr>
                <td><%= purchase[i].item_name %></td>
                <td><%= purchase[i].item_description %></td>
                <td><%= purchase[i].cost %></td>
                <td><%= purchase[i].quantity %></td>
                <td>
                <% total = total + (purchase[i].quantity * purchase[i].cost) %>
                  <a href="/addItem?id=<%= purchase[i].purchase_item_id %>&quantity=<%= purchase[i].quantity %>">
                    <span class="icon is-small">  <i class="fas fa-caret-square-up"></i> </span
                  ></a>
                </td>
                <td>
                  <a href="/subItem?id=<%= purchase[i].purchase_item_id %>&quantity=<%= purchase[i].quantity %>">
                    <span class="icon is-small">  <i class="fas fa-caret-square-down"></i> </span
                  ></a>
                </td>
                <td>
                  <a href="/deleteItem?id=<%= purchase[i].purchase_item_id %>">
                    <span class="icon is-small">  <i class="fas fa-trash"></i> </span
                  ></a>
                </td>
              </tr>
              <% } %>
              <tfoot>
                <tr>
                  <td colspan="4">There are <%= i %> items for a total of <%= total %>$.</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <% } %>
          <form action="/addPurchase" method="post">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Add New Purchase</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input name="name" class="input" type="text" placeholder="Name" />
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <input name="description" class="input" type="text" placeholder="Description" />
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <input name="cost" class="input" type="text" placeholder="Cost" />
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <input name="quantity" class="input" type="text" placeholder="Quantity" />
                  </p>
                </div>
                <div class="field">
                  <button class="button is-link">
                    <span>Add</span>
                    <span class="icon is-small">
                      <i class="fas fa-user-plus"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>

